.modal{
    display:block;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.8);
}
.error-txt {
    color: red;
    display: flex;
    justify-content: center;
    margin: 10px;
    animation: blink 2.5s infinite; 
    background:  #ec9e03;
    border-radius: 20px;
    width: 240px;
    margin-left: 110px;
    
    
}
@keyframes blink{
    from {opacity: 1;}
    to {opacity: 0;}
}

.form-sign-in{
    width: 450px;
    margin-bottom: 10px;
    background: url(images/banner2.jpg);
    border:3px solid #b99403;
    border-radius: 20px;
    padding: 10px;
    position:fixed;
    top:25%;
    left:32%;
}
.reghead{
    background:  #ec9e03;
    margin-top: 10px;
    color:#ffffff;
    font-weight: 0;
    border-radius: 20px;

}
.close-regpage {
    width: 30px;
    position: absolute;
    top: 23px;
    right: 12px;
}
.close-regpage:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.sign-in{
    display: flex;
    justify-content: center;
}
.reghead h1{
    margin: 0 auto;
}
.form-control{
    width: 95%;
    margin: 5px 0 10px;
    border: 1px solid #ec9e03;
    border-radius: 7px;
    outline:none;
    padding: 5px 10px;
}
.control-label::before{
    content: "*";
    color:red;
}
.form-group-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-left: 1.5em;
}
button{
    border-radius: 5px;
    background:#ec9e03;
    border: 0;
    color: #ffffff;
    padding: 5px 15px;
    outline:none;
    transition: all 0.8s ease
}
button:hover{
    cursor: pointer;
    background:#4c4c4c;
    transform: scale(1.2)
}
